.querryDisplay{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 23px;
    
}

.querryDisplayContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.cardListContainer{
    display: flex;
    flex-flow: wrap;
}