.querryDisplay{
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Arial Narrow", sans-serif;
    font-size: 23px;
    color: black;
    
}

.querryDisplayContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cardListContainer{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 3em;
}

.searchBlock{
    margin: 0 50px 0 50px;
}
