.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1640px;
    height: 800px;
    border-bottom: 2px solid rgba(0, 0, 0);
    background-color: black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    height: max-content;
    width: fit-content;
}

.slideHiden {
    display: none;
}

.arrow {
    height: 4rem;
    width: 4rem;
    color: white;
}

.indicatorbox {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    align-items: center;
}

.carousel_indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
    
}

.indicator {
    background: white;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin: 0 0.6rem;
    cursor: pointer;
}

.indicator_inactive {
    background: rgba(180, 180, 180, 0.788);
    height: 12px;
    width: 12px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.1s ease-out;
}

.arrow_container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s ease;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    opacity: 0;
}

.arrow_container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 100%;
}

.arrow_container_left {
    left: 0;
}

.arrow_container_right {
    right: 0;
}
