.nab {
    
    background-image: url("../../../public/banner\ 1.png");
    margin:50px 0 50px 0;
    margin-left: auto;
    margin-right: auto;
    width: 1640px;
    height: 400px;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid black;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}

.text {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 5px 5px 4px #000000;
}

.newadi {
    font-size: 96px;
}

.startsells {
    font-size: 64px;
} 

.button {
    font-weight:600;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    font-size: 36px;
}
