.container{
    position: relative;
    width: 800px;
    height: 200px;
}

.body{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.13);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.img{
    /* border-radius: 10px; */
    /* image 2 */

    position: absolute;
    left: 2.5%;
    right: 76.25%;
    top: 7.5%;
    bottom: 7.5%;

    /* background: url(image.png);*/
} 

/* .buts {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
}

.buts + .buts {
    margin-left: 5px;
}

.buts:hover {
    fill: red;
}

.buts:active {
    fill: red;
} */

.PriceText{
    /* count */
    position: absolute;
    left: 27.62%;
    right: 53.62%;
    top: 59.5%;
    bottom: 15.5%;
}

.DescriptionText{
    /* padding-bottom: 50px; */
    /* New Balance 530 */
    position: absolute;
    left: 27.62%;
    right: 41.12%;
    top: 25.5%;
    bottom: 59.5%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000000;
}

.Title{
    /* Кроссовки */
    position: absolute;
    left: 27.62%;
    right: 52.38%;
    top: 5.5%;
    bottom: 74.5%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}
.Rub{
    /* rub ico */
    position: absolute;
    left: 94.75%;
    right: 3.38%;
    top: 9.5%;
    bottom: 79%;
}
.trash{
    /* trash can */
    position: absolute;
    left: 92.88%;
    right: 3.38%;
    top: 77.5%;
    bottom: 7.5%;
    
}


















/* Rectangle 6 */




/* - */

/* position: absolute;
left: 0%;
right: 66.67%;
top: 0%;
bottom: 0%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #000000; */



/* + */

/* position: absolute;
left: 66.67%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #000000; */



/* 1 */

/* position: absolute;
left: 33.33%;
right: 33.33%;
top: 0%;
bottom: 0%;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #000000; */








/* trash can] */

/* position: absolute;
left: 92.88%;
right: 3.38%;
top: 77.5%;
bottom: 7.5%; */

/* background: url(image.png); */
