.card {
    /* width: 200px;
    height: max-content;
    border: 1px solid gray !important;
    left: 50px;
    transition: box-shadow 0.25s ease, transform 0.2s ease-in-out;
    margin: 5px; */
 /* simple view product*/
    position: relative;
    width: 250px;
    height: 350px;
    left: 1481px;
    top: 1095px;
}
.body{
        /* основа */
     position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 15px; 
}
.card:hover {
    border: 1px solid black !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px)
}

.card .image .card .body .card .footer {
    padding: 10px;
}

.image {
    /* width: 198px;
    height: 180px; */
    /* image 2 */
    position: absolute;
    left: 4%;
    right: 4%;
    top: 2.86%;
    bottom: 34.29%;
    filter: drop-shadow(0px 1px 10.1px rgba(0, 0, 0, 0.25));
    border-radius: 15px 15px 0px 0px;
}

.ShoesType{
    /* shoes type */
    position: absolute;
    left: 10%;
    right: 42%;
    top: 78.57%;
    bottom: 11.43%;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: #000000;
}
.BrandnModel{
    /* Brand & model */
    position: absolute;
    left: 10%;
    right: 42%;
    top: 88.57%;
    bottom: 5.71%;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}

.Text {
    /* 10 990 */
    position: absolute;
    left: 10%;
    right: 50%;
    top: 67.14%;
    bottom: 21.43%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #000000;
    

}
.Rub{
    /* rub ico */

    position: absolute;
    left: 41.6%;
    right: 52.4%;
    top: 69.71%;
    bottom: 23.71%;
    /*background: url(image.png);*/
}

.buts {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
}
.heart{
    position: absolute;
    left: 82.4%;
    right: 7.6%;
    top: 84.86%;
    bottom: 8%;
    /*background: url(image.png);*/
}
.Cart{
    position: absolute;
    left: 70%;
    right: 20%;
    top: 84.86%;
    bottom: 8%;
    /*background: url(image.png);*/ 
}

.buts + .buts {
    margin-left: 5px;
}

.buts:hover {
    fill: red;
}

.buts:active {
    fill: red;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

