.navbar {
    width: 100%;
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #fff;
}

.navtext {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 1000;
    text-align: center;
    font-size: 2.7rem;
    letter-spacing: 1px;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 15px;
}

.navbut {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: flex-end;
}

.buts:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in;
}

.buts {
    background: white;
    margin: 20px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20%;
    background-size: contain;
}

.catalog {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#catalog {
    background-image: url("../../../public/menu.ico");
}

#profile {
    background-image: url("../../../public/user.ico");
}

#search {
    margin-left: 20px;
    background-image: url("../../../public/search.ico");
}

#favourites {
    background-image: url("../../../public/heart.ico");
}

#cart {
    background-image: url("../../../public/market.ico");
}
