* {
  box-sizing: border-box;
  text-decoration: none;
}

body, html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: inherit;
}

input {
  border: 0;
}

input:focus {
  outline: none;
}
