.menu {
    position: absolute;
    left: 0;
    top: 20px;
    width: 500px;
    height: 800px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 2px solid #000;
    background-color: #fff;
    z-index: 3;
    transform: translateX(-500px);
}

.showMenuAnimation {
    animation: showMenu 0.5s forwards ease;
}

@keyframes showMenu {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0px);
    }
}